<div class="row text-center"><h1>Auftragserfassung</h1>
  <div class="container-fluid">
    <div class="row">
      <form [formGroup]="assignmentFormGroup">
        <div class="row justify-content-center">
          <div class="col-sm-2">
            <mat-form-field>
              <mat-label>Gemeinde</mat-label>
              <mat-select formControlName="municipal">
                <mat-option
                  *ngFor="let municipal of municipals"
                  [value]="municipal.id"
                >
                  {{ municipal.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <a [style.color]="!municipal?.valid && (municipal?.dirty || municipal?.touched) ? 'red' : 'black'">
              *
            </a>

            <div *ngIf="(!municipal?.valid && (municipal?.dirty || municipal?.touched)) || validityButton == false">
              <div class="validationError" [hidden]="!municipal.errors.required">
                <a>Municipal is required!</a>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <mat-form-field>
              <mat-label>Kostenstelle</mat-label>
              <mat-select formControlName="costcenter">
                <mat-option
                  *ngFor="let costcenter of costcenters"
                  [value]="costcenter.id"
                >
                  {{ costcenter.description }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <a [style.color]="!costcenter?.valid && (costcenter?.dirty || costcenter?.touched) ? 'red' : 'black'">
              *
            </a>


            <div *ngIf="(!costcenter?.valid && (costcenter?.dirty || costcenter?.touched)) || validityButton == false">
              <div class="validationError" [hidden]="!costcenter.errors.required">
                <a>costcenter is required!</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-sm-4 mb-3">
            <mat-divider></mat-divider>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-sm-2">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
            </mat-form-field>
            <a [style.color]="!email?.valid && (email?.dirty || email?.touched) ? 'red' : 'black'">
              *
            </a>


            <div *ngIf="(!email?.valid && (email?.dirty || email?.touched)) || validityButton == false">
              <div class="validationError" [hidden]="!email.errors.required">
                <a>Email is required!</a>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <mat-form-field>
              <mat-label>Auftrag Link</mat-label>
              <input type="text" matInput formControlName="assignmentLink" />
            </mat-form-field>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-sm-2">
            <mat-form-field>
              <mat-label>Aufgabenbeschreibung</mat-label>
              <input type="text" matInput formControlName="assignmentDescription" />
            </mat-form-field>
            <a [style.color]="!assignmentDescription?.valid && (assignmentDescription?.dirty || assignmentDescription?.touched) ? 'red' : 'black'">
              *
            </a>


            <div *ngIf="(!assignmentDescription?.valid && (assignmentDescription?.dirty || assignmentDescription?.touched)) || validityButton == false">
              <div class="validationError" [hidden]="!assignmentDescription.errors.required">
                <a>Assignment Description is required!</a>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <mat-form-field>
              <mat-label>Personal Vorschlag</mat-label>

              <mat-select formControlName="personal" multiple>
                <mat-option *ngFor="let user of staff" [value]="user.id">
                  {{ user.firstname }} {{ user.lastname }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-sm-2">
            <mat-form-field>
              <mat-label>Fortschritt (in %)</mat-label>
              <input type="number" matInput formControlName="progress" />
            </mat-form-field>
          </div>

          <div class="col-sm-2">
            <mat-form-field>
              <mat-label>Status</mat-label>
              <mat-select formControlName="status">
                <mat-option *ngFor="let status of status" [value]="status.id">
                  {{ status.description }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-sm-2">
            <mat-form-field>
              <mat-label>Start</mat-label>
              <input matInput [matDatepicker]="startDatePicker" formControlName="start" />
              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-sm-2">
            <mat-form-field>
              <mat-label>End</mat-label>
              <input matInput [matDatepicker]="endDatePicker" formControlName="end" />
              <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-sm-4">
            <button mat-raised-button color="basic" (click)="saveAssignment()">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="container-footer">
    <table mat-table [dataSource]="dataSource" class="content">
      <ng-container matColumnDef="assignment_id">
        <th mat-header-cell *matHeaderCellDef>Auftragsnummer</th>
        <td mat-cell *matCellDef="let assignment">{{ assignment.id }}</td>
      </ng-container>

      <ng-container matColumnDef="municipal">
        <th mat-header-cell *matHeaderCellDef>Gemeinde</th>
        <td mat-cell *matCellDef="let assignment">
          {{ assignment.municipal.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="costcenter">
        <th mat-header-cell *matHeaderCellDef>Kostenstelle</th>
        <td mat-cell *matCellDef="let assignment">{{ assignment.costCenter.cost_id }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let assignment">{{ assignment.email }}</td>
      </ng-container>

      <ng-container matColumnDef="assignmentLink">
        <th mat-header-cell *matHeaderCellDef>Auftrag Link</th>
        <td mat-cell *matCellDef="let assignment">
          {{ assignment.link }}
        </td>
      </ng-container>

      <ng-container matColumnDef="assignmentDescription">
        <th mat-header-cell *matHeaderCellDef>Auftrag</th>
        <td mat-cell *matCellDef="let assignment">{{ assignment.assignmentDescription }}</td>
      </ng-container>

      <ng-container matColumnDef="personal">
        <th mat-header-cell *matHeaderCellDef>Personal Vorschlag</th>
        <td mat-cell *matCellDef="let assignment">
          <div *ngFor="let user of assignment.personal">
            {{ user.firstname }} {{ user.lastname }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef>Start</th>
        <td mat-cell *matCellDef="let assignment">{{ assignment.start | date: 'dd.MM.yyyy' }}</td>
      </ng-container>

      <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef>Ende</th>
        <td mat-cell *matCellDef="let assignment">{{ assignment.end | date: 'dd.MM.yyyy' }}</td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>Dauer</th>
        <td mat-cell *matCellDef="let assignment">{{calculateDiff(assignment)}}</td>
      </ng-container>

      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef>Fortschritt</th>
        <td mat-cell *matCellDef="let assignment">{{ assignment.progress }} %</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let assignment">{{ assignment?.status?.description }}<p *ngIf="assignment.status == null">_</p></td>
      </ng-container>

      <ng-container matColumnDef="btnAccept">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let assignment">
          <button mat-raised-button color="basic" (click)="updateAssignment(assignment)">Accept</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="btnDelete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let assignment">
          <button mat-raised-button color="warn" (click)="deleteAssignment(assignment)">Delete</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="btnEdit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let assignment">
          <button mat-raised-button color="accent" (click)="openDialogAssignment(assignment)">Edit</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
