
<div class="row text-center">
  <h1>Dienstplan</h1>
  <app-scheduler></app-scheduler>
  <mat-divider></mat-divider>
  <h1>Freigegebene Aufträge</h1>
  <div class="container-footer">
    <table mat-table [dataSource]="assignments" class="content">
      <ng-container matColumnDef="assignment_id">
        <th mat-header-cell *matHeaderCellDef>Auftragsnummer</th>
        <td mat-cell *matCellDef="let assignment">{{ assignment.id }}</td>
      </ng-container>

      <ng-container matColumnDef="municipal">
        <th mat-header-cell *matHeaderCellDef>Gemeinde</th>
        <td mat-cell *matCellDef="let assignment">
          {{ assignment.municipal.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="costcenter">
        <th mat-header-cell *matHeaderCellDef>Kostenstelle</th>
        <td mat-cell *matCellDef="let assignment">{{ assignment.costCenter.cost_id }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let assignment">{{ assignment.email }}</td>
      </ng-container>

      <ng-container matColumnDef="assignmentLink">
        <th mat-header-cell *matHeaderCellDef>Auftrag Link</th>
        <td mat-cell *matCellDef="let assignment">
          {{ assignment.link }}
        </td>
      </ng-container>

      <ng-container matColumnDef="assignmentDescription">
        <th mat-header-cell *matHeaderCellDef>Auftrag</th>
        <td mat-cell *matCellDef="let assignment">{{ assignment.assignmentDescription }}</td>
      </ng-container>

      <ng-container matColumnDef="personal">
        <th mat-header-cell *matHeaderCellDef>Personal Vorschlag</th>
        <td mat-cell *matCellDef="let assignment">
          <div *ngFor="let user of assignment.personal">
            {{ user.firstname }} {{ user.lastname }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef>Start</th>
        <td mat-cell *matCellDef="let assignment">{{ assignment.start | date: 'dd.MM.yyyy' }}</td>
      </ng-container>

      <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef>Ende</th>
        <td mat-cell *matCellDef="let assignment">{{ assignment.end | date: 'dd.MM.yyyy' }}</td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>Dauer</th>
        <td mat-cell *matCellDef="let assignment">{{calculateDiff(assignment)}}</td>
      </ng-container>

      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef>Fortschritt</th>
        <td mat-cell *matCellDef="let assignment">{{ assignment.progress }} %</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let assignment">{{ assignment?.status?.description }}</td>
      </ng-container>

      <ng-container matColumnDef="btnDelete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let assignment">
          <button mat-raised-button color="warn" (click)="deleteAssignment(assignment)">Delete</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="btnEdit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let assignment">
          <button mat-raised-button color="accent" (click)="openDialogAssignment(assignment)">Edit</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>





